body {
  margin: 0;
}

:root {
  --color-primary: rgb(28, 28, 87);
  --color-primary-transparent: rgba(28, 40, 155, 0.15);
  --color-secondary: rgb(247, 128, 128);
  --color-secondary-transparent: rgb(252, 230, 230);
  --color-secondary-dark: rgb(226, 46, 46);
  --color-secondary-gradient: linear-gradient(
    -165deg,
    var(--color-lighter),
    var(--color-secondary) 25%,
    var(--color-secondary-dark) 60%,
    var(--color-secondary-dark)
  );
  --color-transparent: rgba(255, 255, 255, 0.95);
  --color-lighter: rgb(255, 255, 255);
  --color-light: rgb(199, 199, 199);
  --color-medium: rgb(128, 128, 128);
  --color-dark: rgb(56, 56, 56);
  --color-darker: rgb(0, 0, 0);
  --font-text: Avenir, Helvetica, Arial, sans-serif;
  --font-title: Avenir, Helvetica, Arial, sans-serif;
  --font-size: 16px;
  --padding-top-bottom: 1rem;
  --footer-size: 1.25rem;
  --header-size: 2rem;
}

#app {
  font-family: var(--font-text);
  font-size: var(--font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--color-dark);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
}

.lds-ripple {
  position: relative;
  align-self: center;
  width: 8rem;
  height: 8rem;
}

.lds-ripple h3 {
  margin: -1.25rem;
}

.lds-ripple div {
  position: absolute;
  border: 0.15rem solid transparent;
  background: var(--color-lighter);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: 0.25rem;
  border-radius: inherit;
  background: var(--color-secondary-gradient);
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 4rem;
    left: 4rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 8rem;
    height: 8rem;
    opacity: 0;
  }
}
